
.kanjiQuestion {
    font-size: 108px;
    text-align: center;
}

.wordOption {
    font-size: 36px;
}

.resultMessage {
    font-size: 36px;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
}